.product-detail-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.product-detail-image .large-img {
    width: 100%;
    max-width: 480px;
    height: 480px;

}

.product-detail-small-div {}

.product-detail-small-image {
    height: 64px;
    width: 64px;
    border: 1px solid rgb(12, 131, 31);
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
}

.small-img {
    height: 64px;
    width: 64px;
}

.detail-product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-top: 48px;
}

.detail-name {
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.detail-time {
    font-size: 12px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    padding: 2px 4px 1px;
    border-radius: 4px;
    font-weight: 700;
    color: rgb(38, 50, 56);
    background-color: rgb(245, 245, 245);
}


.select-unit-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.select-unit-cta {
    padding: 12px 16px;
    border-radius: 12px;
    border: 0.5px solid rgb(58, 183, 87);
    cursor: pointer;
    background: rgb(247, 255, 249);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    min-width: 56px;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 8px;
    flex-direction: column;
}

.inclusive-tax-p {
    color: rgb(79, 79, 79);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.add-to-cart-button {
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 0.375rem;
    gap: 0.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(49, 134, 22);
    color: rgb(255, 255, 255);
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
}